* {
  box-sizing: border-box;
  margin: 0px;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

#container {
  display: grid;
  grid-template-rows: 50px auto;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px #e94653 solid;
}

#title {
  color: #459e85;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: 1px #e94653 solid;
}

#nav-buttons {
  display: flex;
  flex-direction: row;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  background-image: url('images/background.jpg');
  background-position: center center;
  background-size: cover;
  border: 1px #e94653 solid;
}

#header {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 28px;
  align-items: center;
  color: white;
  border: 1px #e94653 solid;
}

#subheader {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 18px;
  color: white;
  border: 1px #e94653 solid;
}

#cards-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px #e94653 solid;
}

#card-search {
  height: 400px;
  width: 350px;
  margin-left: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

#card-results {
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
}

.result-trip {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #f5eeee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.btn-book {
  background-color: #459e85;
  color: white;
}

#not-found-icon {
  padding: 50px;
  height: 250px;
  width: 250px;
  border-bottom: 2px solid #459e85;
}
